---
import { DocumentRenderer } from '@keystone-6/document-renderer';

export async function getStaticPaths() {
  const response = await fetch(`${import.meta.env.CMS_URI}/api/graphql`, {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({
      query: `{
        posts {
          slug
        }
      }`
    })
  })
  const {data, errors} = await response.json()
  if(errors) console.log(errors, errors[0].extensions.exception)
  
  return data.posts.map((p) => ({ params: { slug: p.slug } }))
}


async function getPost(slug:string) {
  const response = await fetch(`${import.meta.env.CMS_URI}/api/graphql`, {
    method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        query: `query GET_POST($slug: String!){
          post(where: {slug: $slug}) {
            title
            content {document}
          }
        }`,
        variables: { slug }
      })
    })
    const {data, errors} = await response.json()
    if(errors) console.error(errors)
    
    return data.post
}

const {slug} = Astro.params
const {title, content} = await getPost(slug as string)
---

<html>
  <head>
    <title>{title}</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1>{title}</h1>
    <DocumentRenderer document={content.document} />
  </body>
</html>